{{#with row}}
<a href="/{{../sing}}/{{slug}}" class="uk-link row-card">
    <div class="uk-card uk-card-default uk-card-hover" uk-grid style="margin-left: 0;">
    
        <div class="uk-card-media-left uk-cover-container uk-width-1-4@s uk-flex uk-flex-middle">
            {{#if images}}
                {{#each images}}{{#if @first}}<img src="{{cloudinaryUrl}}" alt="">{{/if}}{{/each}}
            {{/if}}
        </div>
        <div class="uk-width-3-4@s uk-flex uk-flex-middle">
            <div class="uk-card-body uk-text-center">
                <h3 class="uk-card-title">{{name}}</h3>
            </div>
        </div>
    </div>
</a>
{{/with}}